.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.button-group {
  display: flex;
  align-items: center;
  button {
    &:not(:last-of-type) {
      margin-right: 1em;
    }
  }
}