@import "buefy";
$white: #fff;
$grey-light: #ccc;
$grey-lightest: hsl(0, 0%, 93%);

$bg-color: $white;

//$mobile: "(max-width: 768px)";
//$tablet: "(min-width: 769px)";
//$desktop: "(min-width: 1024px)";
//$widescreen: "(min-width: 1216px)";
//$fullhd: "(min-width: 1408px)";
//
//@mixin media-breakpoint-up($point) {
//  @media #{$point} {@content}
//}
